.registration-banner {
  background: #f9f9f9;
  padding: 90px 0;
}

.banner-content {
  width: 70%;
  margin: auto;
  text-align: center;
}

.banner-content h2 {
  font-size: 30px;
  color: #363636;
  font-family: Raleway, Helvetica, sans-serif;
  margin-bottom: 0.5rem;
}

.banner-content h5 {
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 16px;
  color: #8c8c8c;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.banner-content .btn {
  padding: 12px 24px;
  background: #af8542;
  color: #fff;
  text-decoration: none;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 17.6px;
  text-transform: uppercase;
  border-radius: 3px;
}
