.why-come {
  background: white;
  padding: 90px 0;
  width: 70%;
  margin: auto;
  .group-separator {
    display: flex;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    width: 40%;
    color: #363636;
    font-family: Raleway, Helvetica, sans-serif;
    margin-bottom: 2rem;
  }
  .group {
    width: 35%;
    padding: 10px;
    margin: 0 auto 40px auto;
    text-align: center;
    .title-image {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
    .feature-list {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    .feature {
      display: flex;
      align-items: center;

      img {
        width: 100px;
        height: 100px;
      }
      h6 {
        margin: 0;
        font-family: Raleway, Helvetica, sans-serif;
        font-size: 22.4px;
        font-weight: 900;
        text-align: left;
        color: #363636;
      }
    }
    .separator {
      width: 100%;
      height: auto;
      margin: 30px 0;
    }
    .faq {
      font-family: Raleway, Helvetica, sans-serif;
      font-size: 16px;
      color: #8c8c8c;
      a {
        color: #8c8c8c;
        text-decoration: none;
      }
    }
  }
}
