@media (max-width: 768px) {
  .intro {
    width: 90%;
    flex-direction: column;
    padding: 40px 0;
  }
  .intro div {
    align-items: center;
  }
  .intro p {
    max-width: 100%;
    text-align: center;
  }
  .intro img {
    max-width: 100%;
    margin-top: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .intro {
    width: 80%;
  }
}
