#campus-location {
  background: #f9f9f9;
  .campus-location-container{
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 40%;
      li {
        margin: 5px 0;
        a {
          text-decoration: none;
          color: #af8542;
          font-family: Raleway, Helvetica, sans-serif;
          font-size: 16px;
          display: block;
          padding: 6px 8px;
        }
      }
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
