section {
  background: #f9f9f9;
  padding: 0 20px;
}
h1 {
  color: #c2c2c2;
  font-size: 30px;
  padding: 35px 0 0px 20px;
  font-family: Raleway, Helvetica, sans-serif;
  margin-bottom: 0;
}
div {
  padding-bottom: 20px;
  padding-left: 25px;
  margin-top: 20px;
}
a {
  color: #8c8c8c;
  text-decoration: none;
  font-size: 14px;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
}
