<nav>
 <section>
   <div>
     <a href="">
       <img src="assets/images/logo.webp" alt="Logo">
     </a>
   </div>
  <button class="hamburger" (click)="toggleMenu()">
    <i class="fa fa-bars"></i>
  </button>
  <div class="menu" [class.open]="isMenuOpen">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">Campus Experience</a>
      </li>
      <li>
        <a href="#">Programmes</a>
      </li>
      <li><a href="#">Location 2025</a></li>
    </ul>
  </div>
 </section>
</nav>
