<header>
  <div>
    <div class="logo">
      Campus Experience <span class="special" style="padding-left: 3px"> Madrid</span>
      <img src="assets/images/main-venue-icono-topbar.webp" alt="Flag of Spain">
    </div>
    <div class="private">
      Private Area
    </div>
    <div class="contact">
      <a href="mailto:heydar.shukurov@gmail.com">
        <img src="assets/images/email.webp" alt="send email button">
      </a>
      <a href="tel:+994512356130">
        <img src="assets/images/call.webp" alt="Call button">
      </a>
    </div>
    <div class="socials">
      <a href="">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-youtube"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="">
        <i class="fa-brands fa-tiktok"></i>
      </a>
    </div>
  </div>
  <button class="button">
    REGISTER NOW!
  </button>
</header>
