//@media only screen and (max-width: 767px) {
//
//}
//
//@media only screen and (min-width: 767px) and (max-width: 1024px) {
//
//}

@media only screen and (max-width: 767px) {
  .logo {
    display: none!important;
  }
  .contact {
    display: none!important;
  }
  .socials {
    display: none!important;
  }
  header {
    justify-content: space-around !important;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {

}
